
.header {
    width: 100%;
	height: 150px;
	background-color: #BF8477;
	text-align: center;
	position: relative;
	overflow: hidden;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}

h2 {
        font-family: Arial, sans-serif;
        font-size: 30px;
		color: #fff;
		line-height: 75px;
		text-transform: uppercase;
		font-weight: 100;
		text-decoration: underline;

}

h4 {
        font-family: "Times New Roman", sans-serif;
        font-size: 20px;
		text-transform: uppercase;
		font-weight: 100;
		text-decoration: underline;


}

input {
  margin: 0;
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 2px 2px;
  width: 50%;
  height:20%
  padding: 10px;
  float: center;
  font-size: 16px;
}

.addBtn {
  font-family: 'Open Sans';
  color: #ffffff;
  text-transform: Capitalize;
  text-decoration: none;
  width: 20%;
  background: #5F9EA0;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.addBtn:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.2s ease 0s;
}

ul {
  background: #00A36C;

}


/* Styling the list */
ul li {
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 25px;
  transition: 0.5s;
  display:flex;
  border: 2px solid;



  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Alteranates background color of all odd entries to list */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* darken background colour on hover */
ul li:hover {
  background: #ddd;
}

/* Strike out text and darken background indicating completion of task */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Adds a check mark once clicked on to indicate completion of task */
ul li.checked::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Styles the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}


